html {
  display: table;
  margin: auto;
  background-image: url(image.jpg);
}
body {
  border: 5px solid gray;
  border-radius: 10px;
  vertical-align: middle;
  padding: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: azure;
  box-shadow: 2px 2px 2px;
}
button {
  background-color: cadetblue;
  border-radius: 10px;
  padding: 5px;
}
